babel==2.17.0
blinker==1.9.0
Brotli==1.1.0
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cssselect2==0.8.0
dnspython==2.7.0
docx2pdf==0.1.8
docxcompose==1.4.0
docxtpl==0.19.1
dotenv==0.9.9
Flask==3.0.3
flask-cors==5.0.1
Flask-PyMongo==3.0.1
fonttools==4.57.0
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
httplib2==0.22.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==5.4.0
MarkupSafe==3.0.2
oauthlib==3.2.2
pillow==10.3.0
proto-plus==1.26.1
protobuf==6.30.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydyf==0.11.0
pymongo==4.11.2
pyparsing==3.2.3
pyphen==0.17.2
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2025.2
qrcode==8.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
secure-smtplib==0.1.1
setuptools==80.1.0
six==1.17.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
typing_extensions==4.13.2
uritemplate==4.1.1
urllib3==2.4.0
weasyprint==65.1
webencodings==0.5.1
Werkzeug==3.0.3
zopfli==0.2.3.post1
